extends layout
block content
    h2="AC Repair Shop"
    p="Discover the ultimate solution for AC Repaire Shop. Let’s make goal easier and more effective!"
    section
        h3="Get in Touch"
        p="If you have any questions, need a repair, or want to schedule maintenance, please reach out to us using the form below or call us directly."
        h4="Our Contact Information:"
        ul
            li
                strong="Phone: (123) 456-7890"
            li
                strong="Email: support@youracrepairshop.com"
            li
                strong="Address: 123 Cool Breeze Ave, Hometown, HT 12345"